<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask REST API</title>
</head>
<body>
    <h2> Welcome to your Library </h2>
    <h3> See Book </h3>
    <form action="/read_book/<isbn>" method="post">
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" name="isbn"><br><br>
      <input type="submit" value="Submit">
    </form>
    <h3> Add Book </h3>
     <form action="/add_new/" method="post">
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" name="isbn"><br><br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>