{% extends "base.html" %}

{% block content %}
<div class="library-container">
    <div class="search-bar">
        <form action="/read_book/<isbn>" method="post">
            <label for="isbn">Search by ISBN:</label>
            <input type="text" id="isbn" name="isbn">
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="image-grid">
        {% for book in books %}
            <a href="{{ url_for('read_book', isbn=book.isbn) }}">
                <img
                        src="{{ book.thumbnail }}"
                        onerror="this.onerror=null;this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbJk-qCpmshndFRatcLSOB8GsyboaySnGpeS2GvkZsQShaZpccKqkkK4MkBRGbIVOBnzw&usqp=CAU'"
                >
            </a>
        {% endfor %}
        <img src="../assets/not_available_thumbnail.jpeg">
    </div>
</div>
{% endblock %}

<!-- <img src="{{ book.thumbnail }}" alt="{{ book.title }}"/> -->
