<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask REST API</title>
    <style>
        .flex-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          background-color: DodgerBlue;
        }

        .flex-container > div {
          background-color: #f1f1f1;
          width: 100px;
          margin: 10px;
          text-align: center;
          padding: 20px;
          font-size: 30px;
        }
    </style>
</head>
<body>
    <h2> Welcome to your Library </h2>
    <h3> See Book </h3>
    <form action="/read_book/<isbn>" method="post">
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" name="isbn"><br><br>
      <input type="submit" value="Submit">
    </form>
    <h3> Add Book </h3>
     <form action="/add_new/<isbn>" method="post">
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" name="isbn"><br><br>
      <input type="submit" value="Submit">
    </form>
    <div class="flex-container">
        <ul>
            {% for num in list %}
                <div>num</div>
            {% endfor %}
        </ul>
    </div>
</body>
</html>